<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maxmass.ug"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/application_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.maxmass.ug.MainActivity"
            android:theme="@style/Sherlock.__Theme.Light"/>
        <activity 
            android:name="com.maxmass.ug.Danger"
            android:theme="@style/Sherlock.__Theme.Light"/>
        <activity 
            android:name="com.maxmass.ug.Tourist"
            android:theme="@style/Sherlock.__Theme.Light"/>
        <activity 
            android:name="com.maxmass.ug.Transport"
            android:theme="@style/Sherlock.__Theme.Light"/>
        <activity 
            android:name="com.maxmass.ug.Hotel"
            android:theme="@style/Sherlock.__Theme.Light"/>
    </application>

</manifest>
